In [43]:
import tensorflow as tf

In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv("Churn_Modelling.csv")
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [46]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [47]:
gender = pd.get_dummies(df['Gender'], drop_first=True)
geography = pd.get_dummies(df['Geography'], drop_first=True)

In [48]:
df_new = df.drop([ "CustomerId" , "Surname" , "Gender" , "Geography"], axis= 1 )
df_new

,RowNumber,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,619,42,2,0.00,1,1,1,101348.88,1
1,2,608,41,1,83807.86,1,0,1,112542.58,0
2,3,502,42,8,159660.80,3,1,0,113931.57,1
3,4,699,39,1,0.00,2,0,0,93826.63,0
4,5,850,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...
9995,9996,771,39,5,0.00,2,1,0,96270.64,0
9996,9997,516,35,10,57369.61,1,1,1,101699.77,0
9997,9998,709,36,7,0.00,1,0,1,42085.58,1
9998,9999,772,42,3,75075.31,2,1,0,92888.52,1
9999,10000,792,28,4,130142.79,1,1,0,38190.78,0

In [49]:
df_new1 = pd.concat([df_new,gender,geography], axis = 1)

In [50]:
df_new1.head(5)

,RowNumber,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Male,Germany,Spain
0,1,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,2,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,3,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,4,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,5,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [51]:
x = df_new.drop(["Exited"] , axis = True)

In [52]:
x

,RowNumber,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,619,42,2,0.00,1,1,1,101348.88
1,2,608,41,1,83807.86,1,0,1,112542.58
2,3,502,42,8,159660.80,3,1,0,113931.57
3,4,699,39,1,0.00,2,0,0,93826.63
4,5,850,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...
9995,9996,771,39,5,0.00,2,1,0,96270.64
9996,9997,516,35,10,57369.61,1,1,1,101699.77
9997,9998,709,36,7,0.00,1,0,1,42085.58
9998,9999,772,42,3,75075.31,2,1,0,92888.52
9999,10000,792,28,4,130142.79,1,1,0,38190.78

In [53]:
y = df_new["Exited"]

In [54]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state= 12345)

In [55]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [56]:
X_train = sc.fit_transform(X_train)

In [57]:
X_test = sc.transform(X_test)

In [58]:
X_train.shape

(8000, 9)

In [59]:
X_test.shape

(2000, 9)

In [60]:
y_train.shape

(8000,)

In [61]:
y_test.shape

(2000,)

In [62]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU , ReLU , ELU , PReLU
from tensorflow.keras.layers import Dropout

In [63]:
classifier = Sequential()

In [64]:
classifier.add(Dense(units = 9 , activation = 'relu' ))

In [73]:
classifier.add(Dense(units=6,activation='relu'))
classifier.add(Dropout(0.2))

In [74]:
classifier.add(Dense(units=7,activation='relu'))
classifier.add(Dropout(0.2))

In [75]:
classifier.add(Dense(1,activation = 'sigmoid'))

In [76]:
classifier.compile(optimizer='adam' , loss = 'binary_crossentropy',metrics=['accuracy'])

In [77]:
model_history = classifier.fit(X_train , y_train , validation_split=0.33,batch_size=16,epochs=10)

Epoch 1/10
335/335 [==============================] - 3s 5ms/step - loss: 0.5552 - accuracy: 0.8057 - val_loss: 0.5220 - val_accuracy: 0.7849
Epoch 2/10
335/335 [==============================] - 2s 5ms/step - loss: 0.5059 - accuracy: 0.8056 - val_loss: 0.5167 - val_accuracy: 0.7849
Epoch 3/10
335/335 [==============================] - 2s 5ms/step - loss: 0.4942 - accuracy: 0.8056 - val_loss: 0.4929 - val_accuracy: 0.7849
Epoch 4/10
335/335 [==============================] - 2s 5ms/step - loss: 0.4738 - accuracy: 0.8056 - val_loss: 0.4710 - val_accuracy: 0.7849
Epoch 5/10
335/335 [==============================] - 2s 5ms/step - loss: 0.4651 - accuracy: 0.8056 - val_loss: 0.4621 - val_accuracy: 0.7849
Epoch 6/10
335/335 [==============================] - 2s 5ms/step - loss: 0.4537 - accuracy: 0.8056 - val_loss: 0.4537 - val_accuracy: 0.7849
Epoch 7/10
335/335 [==============================] - 1s 4ms/step - loss: 0.4468 - accuracy: 0.8056 - val_loss: 0.4505 - val_accuracy: 0.7849
Epoch 8/10
335/335 [==============================] - 2s 5ms/step - loss: 0.4483 - accuracy: 0.8056 - val_loss: 0.4481 - val_accuracy: 0.7849
Epoch 9/10
335/335 [==============================] - 2s 6ms/step - loss: 0.4524 - accuracy: 0.8056 - val_loss: 0.4444 - val_accuracy: 0.7849
Epoch 10/10
335/335 [==============================] - 2s 5ms/step - loss: 0.4448 - accuracy: 0.8056 - val_loss: 0.4407 - val_accuracy: 0.7849

In [78]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred >= 0.5)

63/63 [==============================] - 0s 2ms/step

In [79]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred , y_test)
cm

array([[1573,  427],
       [   0,    0]], dtype=int64)

In [80]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred , y_test)
score

0.7865